<% if @status == 0%>
<h1>Form for <%=@event.name %></h1>
<% else%>
<h1>Edit <%=@event.name %></h1>
<% end %>

<%= form_tag "/users/update_characteristics/#{@event.id}", method: :post do %>
	<% @show.each do |key, val| %>
		<%= label_tag("characteristic[#{key}]", key) %>
		<%= text_field_tag("characteristic[#{key}]", val) %>
		<br/>
	<% end %>
	<% if !@show.empty? %>
		<%= submit_tag "Save" %>
	<% end %>
<% end %>