<h1>Create event</h1>
<%= form_tag({:controller => "events", :action => "create"}, :method => "post") do %>
    <%=label_tag 'name' %>
    <br/>
    <%=text_field_tag 'name' %>
    <br/>
    <br/>
    <%=label_tag 'characteristics (please separate all the fields by ",")' %>
    <br/>
    <%=text_field_tag 'characteristics' %>
    <br/>
    <br/>
    <%=label_tag 'email list (please separate all the fields by ",")
    At the moment the application only supports users who have joined the application' %>
    <br/>
    <%=text_field_tag 'email_list' %>
    <br/>

    <div><%= submit_tag 'Create' %></div>
<% end -%>